body {
    background: background.jpg;
    background-size: cover;
}

h1 {
    color: white;
    margin-top: 25%;
    position: absolute;
    margin-left:  15%;
}

.container {
    text-align: center;
}

.btn-default {
    background-color: rgb(255, 50, 0);
    margin-top: 48%;
    border-radius: 300px;
}
